anonymous_enable={{ anonymous_enable }}
write_enable={{ write_enable }}
anon_upload_enable={{ anon_upload_enable }}
anon_mkdir_write_enable=YES
allow_writeable_chroot=YES
no_anon_password=YES
anon_root=/var/ftp/pub
